@use '../variables.scss';
@use '../mixings.scss';

#portifolio {
  .link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;

    @media(max-width: 700px) {
      flex-direction: column;
    }

    .btn {
      @include mixings.btn;

      &:hover {
        scale: (1.1);
      }

      @media(max-width: 700px) {
        margin-bottom: 3rem;

      }
    }
  }

  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
  padding: 3rem;

  h1 {
    width: 100%;
    font-size: 5rem;
    margin-bottom: 3rem;
    background-clip: text;
    color: #731022;
    font-weight: 900;
  }

  @media (max-width: 700px) {
    h1 {
      font-size: 3rem;
      text-align: center;
    }
  }
}