@use '../variables.scss';
@use '../mixings.scss';

#socialNetworks {
  @include mixings.center;
  gap: 1.5rem;
  margin: 1rem 0;

  .social-btn {
    padding: 1rem 2rem;
    background-color: variables.$bg-color-secondary;
    border-radius: variables.$card-border-radius;
    color: #333;
    font-size: 1.3rem;
    @include mixings.center
  }

  #linkedin {
    color: #0072b1;
  }

  #github {
    color: #111;
  }

  :hover {
    background: variables.$gradient;

    >svg {
      color: variables.$text-color;
    }
  }
}