@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');
$primary-font: 'JetBrains Mono',
  monospace;
$text-color: #D9D9D9;
$text-color-secondary: #595959;
$body-bg-color: #0D0D0D;
$bg-color: #111;
$bg-color-secondary: #1d1d1d;
$container-border-radius: 10px;
$card-border-radius: 5px;
$gradient: linear-gradient(90deg, #731022 0%, #BF0B3B 100%)